<a href="https://colab.research.google.com/github/Habsie/Velib-et-Grand-Paris-Express/blob/main/V%C3%A9lib_Mai2022_enrichie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Préparation du fichiers Velib_mai_2022.csv**

 Import du drive dans google colab pour acceder au fichier

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Import des differentes librairies necessaires

In [ ]:
import pandas as pd
import os
import plotly.express as px
import matplotlib as plt

In [ ]:
#set the max columns to none 
pd.set_option('display.max_columns', None)

#l’autocompletion
%config IPCompleter.greedy=True

# Import du du fichier Velib_mai_2022.csv

In [ ]:
velib_mai22 = pd.read_csv('/content/drive/MyDrive/LePont - Capstone #3/Notebook & Data/Data/Velib_Mai_2022.csv')

In [ ]:
velib_mai22

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
0,Benjamin Godard - Victor Hugo,16107,2,1,"[48.865983, 2.275725]",2022-05-01T00:33:45+02:00,3,31,35.0,OUI,OUI,Paris,OUI,01/05/2022 00:50:01
1,Charonne - Robert et Sonia Delauney,11104,9,4,"[48.85590755596891, 2.3925706744194035]",2022-05-01T00:39:22+02:00,13,5,20.0,OUI,OUI,Paris,OUI,01/05/2022 00:50:01
2,Mairie du 12ème,12109,0,0,"[48.840855311763, 2.3875549435616]",2022-05-01T00:40:15+02:00,0,30,30.0,NON,OUI,Paris,NON,01/05/2022 00:50:01
3,Toudouze - Clauzel,9020,1,1,"[48.87929591733507, 2.3373600840568547]",2022-05-01T00:38:42+02:00,2,19,21.0,OUI,OUI,Paris,OUI,01/05/2022 00:50:01
4,Harpe - Saint-Germain,5001,2,34,"[48.85151881501689, 2.343670316040516]",2022-05-01T00:40:52+02:00,36,8,45.0,OUI,OUI,Paris,OUI,01/05/2022 00:50:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6179647,Bateliers - Quai de Seine,34012,0,0,"[48.915817585516, 2.3239533298594]",2022-05-25T11:59:46+02:00,0,26,26.0,NON,NON,Saint-Ouen-sur-Seine,NON,01/06/2022 16:40:02
6179648,Mairie du 17ème,17012,0,0,"[48.884161848716, 2.3220794311037]",2022-05-17T20:32:53+02:00,0,24,24.0,NON,OUI,Paris,NON,01/06/2022 16:50:01
6179649,Docteur Calmette - Martre,21120,0,0,"[48.898969358483, 2.3086513252383]",2022-05-30T09:30:41+02:00,0,30,30.0,NON,NON,Clichy,NON,01/06/2022 16:50:01
6179650,Georges Bernanos - Port Royal,5029,0,0,"[48.840145213474, 2.3373574018478]",2022-05-08T20:51:56+02:00,0,30,30.0,NON,OUI,Paris,NON,01/06/2022 16:50:01
6179651,Bateliers - Quai de Seine,34012,0,0,"[48.915817585516, 2.3239533298594]",2022-05-25T11:59:46+02:00,0,26,26.0,NON,NON,Saint-Ouen-sur-Seine,NON,01/06/2022 16:50:01

# Overview de la data

In [ ]:
velib_mai22.shape

(6179652, 14)

In [ ]:
velib_mai22.describe()

,ebike,mechanical,numbikesavailable,numdocksavailable,capacity
count,6.179652e+06,6.179652e+06,6.179652e+06,6.179652e+06,6.179637e+06
mean,4.203222e+00,6.658806e+00,1.086203e+01,1.952219e+01,3.150209e+01
std,4.428199e+00,8.629621e+00,1.060225e+01,1.256577e+01,1.167978e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,1.000000e+00,3.000000e+00,1.000000e+01,2.300000e+01
50%,3.000000e+00,3.000000e+00,7.000000e+00,1.800000e+01,2.900000e+01
75%,6.000000e+00,1.000000e+01,1.600000e+01,2.700000e+01,3.700000e+01
max,5.900000e+01,7.100000e+01,8.400000e+01,6.800000e+01,7.400000e+01

In [ ]:
velib_mai22.duplicated().sum()

0

In [ ]:
#15 ligne avec des na à verifier 
velib_mai22.isna().sum()

name                           15
stationcode                     0
ebike                           0
mechanical                      0
coordonnees_geo                15
duedate                         0
numbikesavailable               0
numdocksavailable               0
capacity                       15
is_renting                      0
is_installed                    0
nom_arrondissement_communes    15
is_returning                    0
ping_time                       0
dtype: int64

In [ ]:
velib_mai22['stationcode'].nunique()

1423

In [ ]:
#Quelques incohérence à regarder
velib_mai22.nunique()

name                             1420
stationcode                      1423
ebike                              60
mechanical                         72
coordonnees_geo                  1457
duedate                        322987
numbikesavailable                  85
numdocksavailable                  69
capacity                           63
is_renting                          2
is_installed                        2
nom_arrondissement_communes        61
is_returning                        2
ping_time                        4464
dtype: int64

In [ ]:
#incohérence - ligne à supprimer
velib_mai22.loc[velib_mai22['stationcode']=='42004']

,name,stationcode,ebike,mechanical,coordonnees_geo,duedate,numbikesavailable,numdocksavailable,capacity,is_renting,is_installed,nom_arrondissement_communes,is_returning,ping_time
1386,Westermeyer - Paul Vaillant-Couturier,42004,5,25,"[48.819116181578764, 2.3966637253761296]",2022-05-01T00:40:21+02:00,30,1,25.0,OUI,OUI,Ivry-sur-Seine,OUI,01/05/2022 00:50:01
2811,Westermeyer - Paul Vaillant-Couturier,42004,5,25,"[48.819116181578764, 2.3966637253761296]",2022-05-01T00:40:21+02:00,30,1,25.0,OUI,OUI,Ivry-sur-Seine,OUI,01/05/2022 01:00:01
4167,Westermeyer - Paul Vaillant-Couturier,42004,6,26,"[48.819116181578764, 2.3966637253761296]",2022-05-01T00:40:21+02:00,32,0,25.0,OUI,OUI,Ivry-sur-Seine,OUI,01/05/2022 01:10:01
5627,Westermeyer - Paul Vaillant-Couturier,42004,6,26,"[48.819116181578764, 2.3966637253761296]",2022-05-01T00:40:21+02:00,32,0,25.0,OUI,OUI,Ivry-sur-Seine,OUI,01/05/2022 01:20:01
7046,Westermeyer - Paul Vaillant-Couturier,42004,6,26,"[48.819116181578764, 2.3966637253761296]",2022-05-01T00:40:21+02:00,32,0,25.0,OUI,OUI,Ivry-sur-Seine,OUI,01/05/2022 01:30:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6173388,Westermeyer - Paul Vaillant-Couturier,42004,1,17,"[48.819116181578764, 2.3966637253761296]",2022-05-31T23:26:26+02:00,18,6,25.0,OUI,OUI,Ivry-sur-Seine,OUI,31/05/2022 23:40:01
6174881,Westermeyer - Paul Vaillant-Couturier,42004,1,14,"[48.819116181578764, 2.3966637253761296]",2022-05-31T23:26:26+02:00,15,9,25.0,OUI,OUI,Ivry-sur-Seine,OUI,31/05/2022 23:50:01
6176338,Westermeyer - Paul Vaillant-Couturier,42004,1,14,"[48.819116181578764, 2.3966637253761296]",2022-05-31T23:26:26+02:00,15,9,25.0,OUI,OUI,Ivry-sur-Seine,OUI,01/06/2022 00:00:01
6177757,Westermeyer - Paul Vaillant-Couturier,42004,1,14,"[48.819116181578764, 2.3966637253761296]",2022-05-31T23:26:26+02:00,15,9,25.0,OUI,OUI,Ivry-sur-Seine,OUI,01/06/2022 00:10:01
6179177,Westermeyer - Paul Vaillant-Couturier,42004,1,14,"[48.819116181578764, 2.3966637253761296]",2022-05-31T23:26:26+02:00,15,9,25.0,OUI,OUI,Ivry-sur-Seine,OUI,01/06/2022 00:20:01

In [ ]:
#suppression de la station 42004
velib_mai22 = velib_mai22.drop(velib_mai22.loc[velib_mai22['stationcode']=='42004'].index)

# Traitement des NaN

In [ ]:
#on stock les lignes Nan dans un nouveau dataframe
velib_mai22_na = velib_mai22.loc[(velib_mai22['capacity'].isna() == True) & (velib_mai22['name'].isna() == True) & (velib_mai22['nom_arrondissement_communes'].isna() == True) & (velib_mai22['coordonnees_geo'].isna() == True)]

In [ ]:
#Drop des ligne avec Nan
velib_mai22 = velib_mai22.dropna()

In [ ]:
velib_mai22.shape

(6175272, 14)

# Préparation du fichier

## Split de la colonne coordonnees_geo

In [ ]:
#SUPPRESSION DES CROCHETS COLONNE COORDONNEES_GEO
velib_mai22['coordonnees_geo'] = velib_mai22['coordonnees_geo'].str.replace('[','')
velib_mai22['coordonnees_geo'] = velib_mai22['coordonnees_geo'].str.replace(']','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#SPLIT COLONNE COORDONNEES_GEO ET CREATION COLONNE LATITUDE ET LONGITUDE
velib_mai22[['latitude', 'longitude']] = velib_mai22['coordonnees_geo'].str.split(',', expand=True)

In [ ]:
#CONVERSION TYPE DE DONNEES EN FLOAT
velib_mai22['latitude'] = velib_mai22['latitude'].astype(float)
velib_mai22['longitude'] = velib_mai22['longitude'].astype(float)

## Formatage des dates

In [ ]:
#CONVERSION DATE df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y %Hh%Mmin%Ssec'))
velib_mai22['duedate'] = pd.to_datetime(velib_mai22['duedate'], format='%Y-%m-%dT%H:%M:%S')

In [ ]:
#CONVERSION DATE df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y %Hh%Mmin%Ssec'))
velib_mai22['ping_time'] = pd.to_datetime(velib_mai22['ping_time'], format='%d/%m/%Y %H:%M:%S')

## Formatage de la colonne capacity

In [ ]:
velib_mai22['capacity'] = velib_mai22['capacity'].astype('int32')

In [ ]:
velib_mai22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6175272 entries, 0 to 6179651
Data columns (total 16 columns):
 #   Column                       Dtype
---  ------                       -----
 0   name                         object
 1   stationcode                  object
 2   ebike                        int64
 3   mechanical                   int64
 4   coordonnees_geo              object
 5   duedate                      datetime64[ns, pytz.FixedOffset(120)]
 6   numbikesavailable            int64
 7   numdocksavailable            int64
 8   capacity                     int32
 9   is_renting                   object
 10  is_installed                 object
 11  nom_arrondissement_communes  object
 12  is_returning                 object
 13  ping_time                    datetime64[ns]
 14  latitude                     float64
 15  longitude                    float64
dtypes: datetime64[ns, pytz.FixedOffset(120)](1), datetime64[ns](1), float64(2), int32(1), int64(4), object(7)
memory usage: 777.4+ MB

# Enrichissement des données

## Ajout de l'altitude

In [ ]:
import requests


# USGS Elevation Point Query Service
url = r'https://api.open-elevation.com/api/v1/lookup?locations='

def elevation_function(lat_column, lon_column):

    # format query string and return query value
  result = requests.get((url + str(lat_column) +','+ str(lon_column)))
  return (result.json()['results'][0]['elevation'])

In [ ]:
#stations = velib_mai22.groupby('stationcode')[['latitude','longitude']].max().reset_index()
#stations['altitude'] = stations.apply(lambda stations: elevation_function(stations['latitude'], stations['longitude']), axis=1)

In [ ]:
#velib_mai22 = velib_mai22.merge(stations[['stationcode','altitude']], on = 'stationcode')

## Fonction de calcul de la disponibilité

In [ ]:
def taux_dispo(capacite,velo_dispo,etat):
  if etat == 'OUI':
    if capacite == 0 :
      return 0
    else :
      return velo_dispo/capacite
  if etat == "NON":
    return 0
  else :
    return -1

## Calcul de la disponibilité pour la location

In [ ]:
velib_mai22['taux_location'] = velib_mai22.apply(lambda velib_mai22: taux_dispo(velib_mai22['capacity'],velib_mai22['numbikesavailable'],velib_mai22['is_renting']), axis=1)

## Calcul disponibilité retour

In [ ]:
velib_mai22['taux_retour'] = velib_mai22.apply(lambda velib_mai22: taux_dispo(velib_mai22['capacity'],velib_mai22['numbikesavailable'],velib_mai22['is_returning']), axis=1)

## Calcul de la variation de la disponibilité retour

In [ ]:
velib_mai22 = velib_mai22.sort_values(by=['stationcode','ping_time'])

In [ ]:
velib_mai22['Variation_taux_dispo_retour'] = velib_mai22.groupby('stationcode')['taux_retour'].diff()

## Calcul de la part de velo electrique

In [ ]:
def taux_velo_elec(ebike,bike):
  if bike == 0:
    return 0
  else:
    return ebike/bike

In [ ]:
velib_mai22['taux_velo_electrique'] = velib_mai22.apply(lambda velib_mai22: taux_velo_elec(velib_mai22['ebike'],velib_mai22['numdocksavailable']), axis=1)

## Extraction du fichier

In [ ]:
velib_mai22.to_csv('/content/drive/MyDrive/LePont - Capstone #3/Notebook & Data/Data/Velib_Mai_2022_enrichie.csv',index=False)